body{
    background: #0000CD;
}
.main{
    background: white;
    border-radius: 5px;
    display: block;
    margin: auto;
    height: 480px;
    width: 320px;
}
#main h2{
    text-align: center;
    color: #0000CD;
    
}