html{
    scroll-behavior: smooth;
    font-family: "DM Sans", Sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background: whitesmoke;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}
.top-section{
    background: #0E3386;
    width: 100%;
}
.navbar{
    background: #1F305E; /*#002244;*/
    color: white;
    width: 100%;
    top: 00px;
    position: fixed;
}
#toggle {
    position: fixed;
    top: 20px;
    left: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    vertical-align: middle;
    background: transparent;
    width: 10px;
    height: 12px;
}
#toggle::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background: white;
    transform: translateY(-5px);
    transition: 0.3s;
}
#toggle::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background: white;
    transform: translateY(5px);
    transition: 0.3s;
}
#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}
#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}
.navbar #option {
    width: 300px;
    position: fixed;
    left: -350px;
    top: 0;
    background: #1F305E;
    height: 100vh;
    transition: 0.5s;
    text-align: left;
  }
.navbar #option ul{
    margin: 60px auto auto 60px;
}
.navbar #option ul li {
    list-style: none;
    display: inline-block;
    width: 90%;
    padding: 10px 0 10px 16px;
}
.navbar #option ul a:hover {
    background: #138808;
 }
#option a {
    font-size: 22px;
    background-color: transparent;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 16px;
  }
#option.active {
    left: -90px;
  }
.navbar h2{
    text-align: center;
}


.header{
    padding-top: 70px;
    color: #0E3386;
    text-align: center;
    font-size: 25px;
    font-weight: medium;
}
.main{
    background: ghostwhite;
    width: 90%;
    border-radius: 5px;
    margin: 10px auto;
    height: 880px;

    box-shadow: 12px 12px 40px #b4bacb, -12px -12px 40px #eef6ff;
}
.main section {
    margin: 0 10px;
}
.db-codes{
    text-align: center;
    margin-bottom: 0; 
    padding: 20px;
    font-size: 18px;
}
.main section p{
    margin: 2px;
    padding: 10px 15px;
}



.first-option label, .plan-selection label{
    display: block;
    margin: 20px 15px 6px;
    font-weight: 600;
}
.first-option select, .plan-selection select{
    width: 90%;
    margin: 0px 15px 8px;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
}
.first-option input{
    width: 85%;
}
.first-option select:focus, input:focus, .plan-selection select:focus{
    outline-color: #1F305E;
    outline-width: 1px;
    border: none;
}
.plan-selection{
    display: none;
}
.first-option input{
    width: 80%;
    font-size: 18px;
    padding: 10px 15px;
    margin: 0 15px 8px;
}

#submit {
  text-align: center;
  text-decoration: none;
}
#btn{
  border-radius: 4px;
  padding: 12px;
  font-weight: 600;
  text-align: center;
  color: white;
  background: #138808;
  display: block;
  margin: 20px auto 40px;
  border: none;
  width: 80%;
  font-size: 17px;
}
#submit button:hover{
    transform: scale(1.2);
}


.overlay{
    background: rgb(0,0,0,0.6);
    width: 100vw;
    height: 100%;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    
}
.transaction-auth{
    width: 89%;
    border-radius: 5px;
    background: whitesmoke;
    color: black;
    height: 150px;
    text-align: center;
    animation-name: zoom;
    animation-duration: 2s;
}
@keyframes zoom{
from{
    opacity: 0;
}
    to{
        opacity: 1;
    }
}
.transaction-auth p{
    font-weight: 500;
    font-size: 17px;
    margin: 15px auto 10px;
}
.transaction-auth input{
    padding: 10px 15px;
    width: 80%;
    font-size: 18px;
}
.transaction-auth button{
    background: #138808;
    color: white;
    padding: 10px 17px;
    border-radius: 4px;
    border: none;
    margin: 10px auto;
    font-weight: 500;
}