html{
    scroll-behavior: smooth;
    font-family: "DM Sans", Sans-serif;
    overflow-x: hidden;
}
*{
    margin: 0;
}
body{
    width: 100vw;
}

.navbar{
    background: #1F305E; /*#002244;*/
    color: white;
    width: 100%;
    position: fixed;
    padding: 12px;
    top: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: white;
    margin: auto 0px auto 20px;
}
.navbar a i{
    font-size: 32px;
}
.navbar h2{
    text-align: center;
    margin: auto;
}


.info{
    padding: 80px 15px;
    color: #0E3386;
}


.input-wrap{
    text-align: center;
    align-items: center;
}
.input-wrap input {
  /*background: rgba(196, 196, 196, 0.1);*/
    background: ghostwhite;
  width: 48px;
  height: 55px;
  margin-right: 8px;
  border-radius: 5px;
  text-align: center;
  color: #0E3386;
  font-weight: 700;
  font-size: 32px;
  border: .6px solid black;
}
.input-wrap input:focus {
  border: 1px solid #1F305E;
  outline: none;
}
#submit {
  text-align: center;
  text-decoration: none;
}
#submit button {
  border-radius: 4px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  color: white;
  background: #138808;
  display: block;
  margin: 20px 0 40px 72%;
  border: none;
}
#submit button:hover{
    transform: scale(1.2);
}


@media (min-width: 700px) {
    body{
        display: none;
    }
}