html{
    scroll-behavior: smooth;
    font-family: "DM Sans", Sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
*{
    margin: 0;
}


.navbar{
    background: #1F305E; /*#002244;*/
    color: white;
    width: 100%;
    position: fixed;
    padding: 12px;
    top: 0;
    margin-bottom: 20px;
}
.navbar a{
    float: left;
    margin: auto 10px;
    text-decoration: none;
    color: white;
}
.navbar a i{
    font-size: 32px;
}
.navbar h2{
    position: relative;
    text-align: center;
}


.info{
    padding: 80px 15px;
    color: #0E3386;
}


.input-wrap{
    margin: auto;
}
.input-wrap input {
  background: rgba(196, 196, 196, 0.1);
  border: none;
  width: 48px;
  height: 55px;
  margin-right: 8px;
  border-radius: 5px;
  text-align: center;
  color: #0E3386;
  font-weight: 700;
  font-size: 32px;
}
.input-wrap input:focus {
  border: 1px solid grey;
  outline: none;
}
.skip {
  margin: 130px 0 0px 0;
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
}
#submit {
  text-align: center;
  text-decoration: none;
}
#submit button {
  border-radius: 4px;
  width: 90%;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  font-size: 17px;
  color: #ECECEC;
  background: transparent;
  display: block;
  border: 1px solid #FF6600;
  margin: 20px auto 40px auto;
}
#submit button:hover {
  background-color: #FF6600;
  border: none;
}