html{
    scroll-behavior: smooth;
    font-family: "DM Sans", Sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background: whitesmoke;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}
.top-section{
    background: #0E3386;
    width: 100%;
    height: 400px;
}
.navbar{
    background: #1F305E; /*#002244;*/
    color: white;
    width: 100%;
    top: 00px;
    position: fixed;
}
#toggle {
    position: fixed;
    top: 20px;
    left: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    vertical-align: middle;
    background: transparent;
    width: 10px;
    height: 12px;
}
#toggle::before {
    content: "";
    position: absolute;
    width: 6vw;
    height: 3px;
    background: white;
    transform: translateY(-5px);
    transition: 0.3s;
}
#toggle::after {
    content: "";
    position: absolute;
    width: 6vw;
    height: 3px;
    background: white;
    transform: translateY(5px);
    transition: 0.3s;
}
#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}
#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}
.navbar #option {
    width: 300px;
    position: fixed;
    left: -350px;
    top: 0;
    background: #1F305E;
    height: 100vh;
    transition: 0.5s;
    text-align: center;
  }
.navbar #option ul{
    margin-top: 60px;
}
.navbar #option ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 16px;
}
.navbar #option ul li:hover {
    background: red;
 }
#option a {
    padding: 8px;
    font-size: 22px;
    background-color: transparent;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    text-decoration: none;
  }
#option.active {
    left: -90px;
  }

.navbar h2{
    text-align: center;
}
.top-section{
    padding: 120px 0px 70px 15px;
    color: white;
}
.top-section .welcome{
    font-size: 25px;
    font-weight: 700;
}
.top-section .referral{
    margin: 0 40px 0 0;
}


.mid-bod{
    height: 500px;
    background: white;
    width: 90%;
    margin: -30px auto 15px auto;
    border-radius: 6px;
    border: 1px solid grey;
}
.mid-bod #introduction{
    color: #0E3386;
    margin: 12px 15px;
    font-size: 18px;
    font-weight: 500;
}
hr{
    width: 90%;
    margin: 0 auto;
    background: #1F305E;
}
.mid-bod .package{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin: 11px auto 0;
}
.mid-bod img{
    width: 200px;
    height: 120px;
    display: block;
    margin: auto;
}


.accounts-carousel .account{
    background: pink;
    width: 80%;
    height: 150px;
    margin: auto;
    border-radius: 5px;
}


.groups{
    width: 90%;
    margin: 12px 15px;
    display: inline-grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.box{
    background: ghostwhite;
    width: 140px;
    height: 150px;
    border-radius: 5px;
    margin: 5px auto 15px;
    -webkit-box-shadow: 12px 12px 40px #b4bacb, -12px -12px 40px #eef6ff;
    box-shadow: 12px 12px 40px #b4bacb, -12px -12px 40px #eef6ff;
}


.box svg{
    display: block;
    margin: 15px auto;
    padding-top: 30px;
}

.swiper {
  width: 300px;
  height: 150px;
    border: 2px solid black;
    background: pink;
    }
  
@media (min-width: 700px) {
    body{
        display: none;
        background: pink;
    }
}