html{
    scroll-behavior: smooth;
    font-family: "DM Sans", Sans-serif;
}
body{
    background: whitesmoke;
    margin: 0;
}
.top-section{
    background: #0E3386;
    width: 100%;
    height: 400px;
}
.top-section .navbar{
    background: #1F305E; /*#002244;*/
    color: white;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 90px;
}
#menu-bars{
    font-size: 30px;
    margin: auto 0 auto 15px;
}
#menu-ellipse{
    font-size: 30px;
    margin: auto 15px auto 0;
}
.navbar h2{
    text-align: center;
}
.top-section .welcome{
    color: white;
    margin: 60px 15px;
    font-size: 25px;
    font-weight: 700;
}
.mid-bod{
    height: 500px;
    background: white;
    width: 90%;
    margin: -30px auto 0 auto;
    border-radius: 6px;
    border: 1px solid grey;
}
.mid-bod #introduction{
    color: #0E3386;
    margin: 12px 15px;
    font-size: 18px;
    font-weight: 500;
}