html{
    scroll-behavior: smooth;
    font-family: "DM Sans", Sans-serif;
}
body{
    background: whitesmoke;
    margin: 0;
}
.top-section{
    background: #0E3386;
    width: 100%;
    height: 400px;
}
.navbar{
    background: #1F305E; /*#002244;*/
    color: white;
    width: 100%;
    top: 00px;
    position: fixed;
}
#toggle {
    position: fixed;
    top: 20px;
    left: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    vertical-align: middle;
    background: transparent;
    width: 10px;
    height: 12px;
}
#toggle::before {
    content: "";
    position: absolute;
    width: 6vw;
    height: 3px;
    background: white;
    transform: translateY(-5px);
    transition: 0.3s;
}
#toggle::after {
    content: "";
    position: absolute;
    width: 6vw;
    height: 3px;
    background: white;
    transform: translateY(5px);
    transition: 0.3s;
}
#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}
#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}
.navbar #option {
    width: 300px;
    position: fixed;
    left: -350px;
    top: 0;
    background: #1F305E;
    height: 100vh;
    transition: 0.5s;
    text-align: center;
  }
.navbar #option ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}
.navbar #option ul li:hover {
    background: red;
 }
#option a {
    padding: 8px;
    font-size: 22px;
    background-color: transparent;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    text-decoration: none;
  }
#option.active {
    left: -90px;
  }

.navbar h2{
    text-align: center;
}
.top-section{
    padding: 120px 0px 70px 15px;
    color: white;
}
.top-section .welcome{
    font-size: 25px;
    font-weight: 700;
}
.top-section .referral{
    margin: 0 40px 0 0;
}
.mid-bod{
    height: 500px;
    background: white;
    width: 90%;
    margin: -30px auto 15px auto;
    border-radius: 6px;
    padding-left: 15px;
    border: 1px solid grey;
}
.mid-bod #introduction{
    color: #0E3386;
    margin: 12px 0px;
    font-size: 18px;
    font-weight: 500;
}
hr{
    width: 90%;
    margin: auto;
    background: #1F305E;
}
.groups{
    width: 90%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    margin: 12px auto;
    column-gap: 40px;
}
.box{
    background: ghostwhite;
    width: 140px;
    height: 150px;
    border-radius: 5px;
}
    