html{
    scroll-behavior: smooth;
}
body{
    background: ghostwhite;
    margin: 0;
}
.top-section{
    background: #0E3386;
    width: 100%;
    height: 400px;
}
.top-section .navbar{
    background: #1F305E; /*#002244;*/
    height: 50px;
}
i{
    color: white;
}{
