body{
    background: #0000CD;
    color: black;
    font-family: "DM Sans", sans serif;
}
#registration{
    background: white;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
    width: 320px;
}
#registration h1{
    text-align: center;
    color: #0000CD;
    margin: 0px auto 7px auto;
    padding-top: 44px;
}
#registration h2{
    text-align: center;
    margin: 0 auto 15px auto;
}
#registration label{
    display: block;
    font-size: 18px;
    margin: 16px 0 1px 20px;
    font-weight: 500;
}
#registration input{
    padding: 9px 10px;
    margin: auto 10px 5px 20px;
    border-radius: 4px;
    font-size: 18px;
    width: 78%;
    border: 1.2px solid grey;
}
#registration input:focus{
    border: none;
    outline-width: 1px;
    outline-color: blue;
}
#registration button{
    border: none;
    padding: 8px 10px;
    color: white;
    background: #138808;
    border-radius: 4px;
    display: block;
    margin: 8px 20px 20px;
    font-size: 18px;
}
#registration button:hover{
    transform: scale(1.1);
}
#registration .membership{
    margin: 10px 20px;
    padding-bottom: 20px;
    text-align: center;
}
#registration a{
    color: blue;
}
.error-message{
    margin: 0 0 0 20px;
    color: red;
    font-size: 15px;
}
#password_error{
    color: grey;
}
#eye_icon{
    position: absolute;
    z-index: 9999;
    
    
}