html{
    scroll-behavior: smooth;
    font-family: "DM Sans", Sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
*{
    margin: 0;
}


.navbar{
    background: #1F305E; /*#002244;*/
    color: white;
    width: 100%;
    position: fixed;
    padding: 12px;
    top: 0;
    margin-bottom: 20px;
}
.navbar a{
    position: relative;
    text-decoration: none;
    color: white;
}
.navbar a i{
    font-size: 32px;
    position: absolute;
}
.navbar h2{
    text-align: center;
    position: relative;
}

.link{
    text-decoration: none;
    text-indent: 15px;
    color: black;
}
.create-pin{
    padding: 20px 0 20px;
    margin-top: 50px;
    border-bottom: 1px solid black;
}
.change-password{
    border-bottom: 1px solid black;
    padding: 20px 0;
}

@media (min-width: 700px) {
    body{
        display: none;
    }
}